body {
  background: url("../images/fond.jpg") no-repeat fixed;
  font-size: 18px;
  text-align: justify;
}

nav{
	position: sticky;
	top: 0px;
  z-index: 1;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
li {
  background-color: #333;
}
li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background 0.5s;
}
li a:hover {
  background-color: #111;
  text-decoration: none;
  
}
a:hover{
  text-decoration: underline;
  text-decoration-style: solid;

}
.active {
  background-color: aqua;
}

main {
  margin-top: 30px;
}


img {
  display: block;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
header {
  margin-bottom: 20px;
}
table,section {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  padding: 20px 25px 20px;
  margin: auto;
  width: 75%;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: background 0.5s;
}
table:hover,section:hover{
  background-color: rgba(255, 255, 255, 0.7);
}
td {
  width: 50%;
  border-left: 5px solid black;
  border-radius: 5px;
}
th {
  padding-bottom: 20px;
}
table td:first-child {
  border-left: none;
  padding-right: 10px;
}
table td:last-child {
  border-right: none;
  padding-left: 10px;
}
table a {
  text-decoration: none;

}
table a:visited, a{
  color: black;
}
h1 {
  text-align: center
}
.liste {
  position: relative;
  padding-left: 70px;
  padding-right: 70px;
}
p {
  margin-left: -30px;
  font-size: 20px;
  font-weight: bold;
}
.conteneur {
  display:flex;
  justify-content: center;
  align-items: center;
  width:55%;
  margin: auto; 
}
.conteneur img {
  padding:10px;
}
#début td{
  border: none;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
}
#début th {
  padding-bottom: 0px;
}
.mindmap {
  display:flex;
  background-image: url('../images/mindmap.png');
  background-size: 100% 100%;
  justify-content: center;
  align-items: center;
  width:70%;
  margin: auto;
}
.mindmap img{
  visibility: hidden;
}
.mindmap:hover {
  background-image: url('../images/mindmap2.png');
}
.article {
  text-align: center;
}
.point {
  border-left: none;
  text-align: center;
}